<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spectro finance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- SEMANTIC UI -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

    <!-- NUMERAL (for currency formatting) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <!-- MY STUFF -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
    <script src="js/main.js" defer></script>

</head>
<body>
    <div id="btc-converter" >
        <div class="ui right labeled fluid input">
            <input v-model.number="btcAmount" type="number" placeholder="Enter BTC amount">
            <div class="ui label">
                BTC
            </div>
        </div>
        <div v-for="currency in viewableCurrencies" class="ui fluid right labeled left icon input">
            <i v-on:click="removeCurrency(currency)" class="times icon"></i>
            <input type="text" placeholder="Enter BTC amount" disabled :value="getBtcValue(currency)">
            <div class="ui label">
                {{ currency }}
            </div>
        </div>
        <div v-if="availableCurrencies.length" class="ui fluid selection simple dropdown">
            <input type="hidden" name="gender">
            <i class="dropdown icon"></i>
            <div class="default text">Add currency</div>
            <div class="menu">
                <div class="item" v-for="currency in availableCurrencies" v-on:click="addCurrency(currency)">
                    {{ currency }}
                </div>
            </div>
        </div>
    </div>
</body>
</html>